<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<style>
	.ipo{
		color: red;
		font-weight: bold;
	}
</style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
